* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    background: linear-gradient(60deg, red, orange);
}

h1 {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    font-size: 1.25em;
    flex-grow: 1;
}

.navigation {
    padding: 0.5em;
    width: 20%;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list-item {
    display: flex;
    align-items: center;
    background-color: #808080;
    color: white;
    height: 2em;
    margin-bottom: 0.5em;
}

.nav-list-link {
    width: 100%;
    display: inline-block;
    padding-left: 0.5em;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.section {
    display: flex;
    padding: 0.5em;
    width: 60%;
    flex-direction: column;
}

.section__header {
    margin: auto;
    font-size: 5vw;
}

.units-list {
    line-height: 1.75em;
}

.news {
    padding: 0.5em;
    width: 20%;
}

.footer {
    background-color: #e5e5e5;
    padding: 0.5em;
    text-align: center;
}