.container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.spinner {
    margin: auto;
    position: relative;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s;
    animation-iteration-count: infinite;
}

.rect {
    width: 10px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
    animation: moving 2s;
    animation: blinking 2s;
    animation-iteration-count: infinite;
    position: absolute;
}

@keyframes moving {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 70px;
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
        left: 0px;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: 100px;
    }
}